@tailwind base;

a {
  color: #4199e1;
}
a:hover {
  color: #417ee1;
}

p {
  line-height: 1.5 !important;
}

h1 {
  line-height: 1.5 !important;
}

h2 {
  line-height: 1.5 !important;
}

div {
  line-height: 1.5 !important;
}

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

h2 {
  font-family: 'Bad Script', cursive;
}
